.App {
  text-align: center;
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #64696D, #5E8993, #52ABA6, #67CBA1, #A5E68A, #F9F871);
  background-size: 200% 200%;
  animation: gradient 15s ease infinite;
}

@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.App-header, .App-footer {
  background-color: #87a1b8; /* Dark Gray */
  padding: 20px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.App-title {
  font-size: 3.5em;
  background: linear-gradient(135deg, #64696D, #5E8993, #52ABA6, #67CBA1, #A5E68A, #F9F871);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px black; /* Outline text with black color */
  margin: 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.App-nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
}

.App-nav a {
  color: #F9F871; /* Light Yellow */
  text-decoration: none;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.App-nav a:hover span {
  text-decoration: underline;
}

.App-nav img {
  height: 1.2em; /* Set the same height as the text */
  margin-right: 5px;
}

.App-main {
  padding: 20px;
}

h1 {
  font-size: 2em;
  margin: 0;
  padding: 5px 0;
}

.linkedin-logo {
  width: 150px; /* Restore original size */
  margin: 0 20px;
}
